.mainContainer{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.loginContainer{
    width: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px;
    box-shadow: 10px 20px #bfc2c2;
}

.fromTitle{
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 40px;
}
.inputBox{
    border: none;
   /* border-bottom:2px solid #d9d9d9;*/
    height: 40px;
    width: 85%;
    padding-left: 10px;
    outline-width: 0;
}
.inputBoxTitle{
    margin-bottom: 15px;
    width: 100% ;
}
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding:10px 20px;
    border-bottom:2px solid #d9d9d9;
}
.textRow{
    padding: 10px 20px;
    margin-bottom: 30px;
}

.forgotText{
    text-align: right;
    align-content: center;
    margin-left: 150px;
}
.buttonContainer{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    /*display: block;*/
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 5px 30px 0px rgb(3 216 222 / 20%);
    -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -webkit-box-shadow: 0 5px 30px 0px rgb(3 216 222 / 20%);
    
}
.buttonProp{
    /*position: absolute;
    z-index: -1;*/
    width: 300%;
    height: 100%;
    background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
    top: 0;
    left: -100%;
    transition: all 0.4s;

    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: none;

}
.SignupText{
    text-align: center;
    padding: 10px 20px;
    margin-top: 20px;
}

.radioButtonGroup{
    padding:10px 20px;
    border-bottom:2px solid #d9d9d9;
}
.icon {
    padding: 10px;
    background: #7d6eed;
    color: white;
    min-width: 40px;
    text-align: center;
    border: 2px solid #09d3df;
    border-radius: 10px !important;
  }
.userContainer{
    width: 500px;
    background: rgb(212 209 209 / 52%);
    border-radius: 10px;
    overflow: hidden;
    padding: 25px;
    margin: 10px;
    box-shadow: 5px 10px #b3f1ef;
}

.userText{
    display: block;
    font-family: Poppins-Bold;
    font-size: 25px;
    color: #f8f9fa;
    line-height: 1.2;
    text-align: justify;
    padding: 10px 20px;
}
.imgContainer{
    background: #b041f5;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px;
    box-shadow: 5px 10px #b3f1ef;

}
.imgProp{
    width: 100px;
    height: 150px;
}

.welcomeContainer{
    /* width: 500px; */
    background: #f8f9fa;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px;
    box-shadow: 10px 20px #bfc2c2;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}